@font-face {
    font-family: 'museo_sans500';
    src: url('MuseoSans_500-webfont.eot');
    src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans_500-webfont.woff2') format('woff2'),
         url('MuseoSans_500-webfont.woff') format('woff'),
         url('MuseoSans_500-webfont.ttf') format('truetype'),
         url('MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #222;
  margin: 0;
	font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
}

.content_wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.site-header {
  padding-top: 50px;
}

a {
  text-decoration: none;
}

nav {
  min-width: 600px;
  float: right;
  margin-right: 50px;
  margin-top: 6px;
  white-space: nowrap;

  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: .6px;
		font-weight: 600;

    a {
      color: #fff;
      line-height: 19px;
    }
  }

  #button {
    padding: 16px 20px;
    border-radius: 2px;
    border: 1px solid #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover {
      background-color: #fff;
      color: #222;
    }
  }
}

#logo{
  font-size: 19px;
  text-transform: uppercase;
  margin-left: 50px;
  letter-spacing: 2.5px;
  color: #fff;
}

.yellow_divider {
  width: 80px;
  height: 2px;
  background-color: #f2f06d;
  margin: 0 auto;
}

.splash {
  background-image: url('/img/background.jpg');
  background-size: cover;

  .splash_wrapper {
    text-align: center;

    #alchemy {
      width: 396px;
      -moz-user-select: none;
      -webkit-user-drag: none;
      user-drag: none;
    }

    .border{
      width: 320px;
      border: 5px solid rgba(244,244,244,.95);

      &.top {
        border-bottom: none;
        margin: 80px auto 20px auto;
        height: 70px;
      }

      &.bottom {
        border-top: none;
        border-bottom: none;
        margin: 20px auto 0;
        text-align: center;

        .yellow_divider {
          display: inline-block;
        }

        h2 {
          font-weight: 400;
          font-size: 18px;
          color: #fff;
          margin: 40px 30px;
          line-height: 1.4em;
        }

        button {
          padding: 18px 16px;
          background-color: #f2f06d;
          border: 0;
          border-radius: 2px;
          margin-bottom: 80px;
          cursor: pointer;
          -webkit-transition: background-color 0.5s ease;
          -moz-transition: background-color 0.5s ease;
          -o-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;

          &:hover {
            background-color: #fffd80;
          }

          a {
						font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            color: #162c42;
            letter-spacing: .6px;
          }
        }
      }
    }
  }
  #toptriangle {
    top: 528px;
		position: absolute;
		-webkit-filter: drop-shadow(0px -4px 2px rgba(0,0,0,.1));filter: drop-shadow(0px -4px 2px rgba(0,0,0,.1));
    filter: drop-shadow(0px -4px 2px rgba(0,0,0,.1));
  }
}

.value {
    background-color: #eef1f2;
		height: 200px;
}

.products {
  background-color: #2e3841;
	text-align: center;
	overflow: auto;

  h3 {
		font-weight: 600;
		letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    text-align: center;
  }

	h4 {
		color: #93aebb;
		font-size: 14px;
		max-width: 460px;
		font-weight: 400;
		text-align: center;
		margin: 30px auto 50px;
	}

	.table-wrapper {
		max-width: 780px;
		margin: 0 auto;

		table {
			float: left;
			width: 40%;
			text-align: left;
			vertical-align: top;
			border-collapse: collapse;

			p {
				margin: 0;
				font-size: 14px;
				color: #222;

				&:first-child {
					padding-bottom: 4px;
				}
			}

			td {
				width: 100%;
				padding: 30px 20px;
				border-bottom: 1px solid #e8eef1;
			}

			tr:first-child {
				height: 100px;
				border-radius: 5px 5px 0 0;
				font-size: 32px;
				font-weight: 300;
				letter-spacing: 1px;

				td {
					border-radius: 5px 5px 0 0;
				}
			}

			tr:last-child {
				border-radius: 0 0 5px 5px;

				td {
					border-radius: 0 0 5px 5px;
					border-bottom: none;
				}
			}

			tr {
				background-color: white;

				&.plus-feature {
					background-color: #e5fbf8;
				}
			}

			button {
				width: 80%;
				height: 45px;
				border-radius: 2px;
				border: none;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
			}

			&.nf {
				margin-right: 100px;

				tr:first-child {
					background-color: #c2fff6;
					color: #17abc1;
				}

				button {
					background-color: #c2fff6;
					color: #17abc1;
				}
			}

			&.nfplus {
				tr:first-child {
					background-color: #00d6b6;
					color: white;
				}

				button {
					background-color: #00d6b6;
					color: white;
				}
			}
		}
	}
}

@media only screen and (max-width: 420px) {
	.splash .splash_wrapper {
		#alchemy {
			width: 300px;
		}
		.border {
			width: 250px;
		}
	}
	#toptriangle {
		top: 528px;
	}
}

@media only screen and (max-width: 850px) {
	.site-nav {
		display: none;
	}
}
