<footer class="site-footer">
  <div class='content_wrapper'>
		<div class="section group">
			<div class="col span_2_of_4">
				<img src='/img/logo_white.svg'></img>
				<p>Get the latest updates from our team</p>
				<form action="//alchemynano.us3.list-manage.com/subscribe/post?u=133968fafad9a8fcfd4b8fa33&amp;id=2b84751ce9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email">
					<input type="submit" value="Keep Me Updated" name="subscribe" id="mc-embedded-subscribe">
          <div id="mce-responses" class="clear">
	        	<div class="response" id="mce-error-response" style="display:none"></div>
	        	<div class="response" id="mce-success-response" style="display:none"></div>
	    		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				</form>
				<p>Suite 199, 151 Charles St W,</p>
				<p>Kitchener, ON, N2G 1H6</p>
				<p>© 2016 Neverfrost, Inc.</p>
			</div>
			<div class="col span_1_of_4">
				<a href='/'>Home</a>
				<a href='/exoshield.html'>ExoShield</a>
				<a href='/partnerships.html'>Partnerships</a>
			</div>
			<div class="col span_1_of_4">
				<a href='/about.html'>About Alchemy</a>
				<a href='/contact.html'>Contact Us</a>
			</div>
		</div>
  </div>
</footer>
