<footer class="site-footer">
  <div class='content_wrapper'>
		<div class="section group">
			<div class="col span_2_of_4">
				<img src='/img/logo_white.svg'></img>
				<p>Get the latest updates from our team</p>
				<form>
					<input type="email" name="email" placeholder="Email">
					<input type="submit" value="Keep Me Updated">
				</form>
				<p>Suite 199, 151 Charles St W,</p>
				<p>Kitchener, ON, N2G 1H6</p>
				<p>© 2016 Neverfrost, Inc.</p>
			</div>
			<div class="col span_1_of_4">
				<a>Home</a>
				<a>ExoShield</a>
				<a>Partnerships</a>
			</div>
			<div class="col span_1_of_4">
				<a>About Alchemy</a>
				<a>Contact Us</a>
			</div>
		</div>
  </div>
</footer>
